extends ../admin_layout

block content
    include ../includes/admin_sidebar

    div.admin-content
        if tclass
            div.admin-content-body
                div.am-cf.am-padding.am-padding-bottom-0
                    div.am-fl.am-cf
                        strong.am-text-primary.am-text-lg #{tclass.courseName}
                hr

                div.am-g
                    div.am-u-sm-12
                        div.am-panel
                            button#startLessonBtn(type="button").am-btn.am-btn-primary 开始上课
                            button.am-btn.am-btn-primary(data-am-offcanvas="{target: '#stu-list'}") 所有学生
                            div#stu-list.am-offcanvas
                                div.am-offcanvas-bar.am-offcanvas-bar-flip
                                    div.am-offcanvas-content
                                        p 所有上课学生
                                        ul.offcanvas-stu-list
                                            each item in tclass.stus
                                                li.offcanvas-stu-item(class="item-id-#{item._id}")
                                                    div.am-fl
                                                        a(href="#") #{item.name}
                                                    div.am-fr
                                                        a(href="/admin/stu/update/#{item._id}")
                                                            span.offcanvas-edit.am-icon-pencil-square-o 
                                                        span(data-id="#{item._id}").am-icon-trash-o.offcanvas-del.del-stu

    script(src="/js/lib/require.js" data-main="/js/app/admin")

                            