extends ../admin_layout

block content
    include ../includes/admin_sidebar

    div.admin-content
        if teacher
            div.admin-content-body
                div.am-cf.am-padding.am-padding-bottom-0
                    div.am-fl.am-cf
                        strong.am-text-primary.am-text-lg 教学班列表
                hr

                div.am-g
                    div.am-u-sm-12.am-u-md-6
                        div.am-btn-toolbar
                            div.am-btn-group.am-btn-group-xs
                                a(href="/admin/class/add").am-btn.am-btn-default
                                    span.am-icon-plus 新增
                
                    div.am-u-sm-12.am-u-md-3
                        div.am-input-group.am-input-group-sm
                            input(type="text").am-form-field
                            span.am-input-group-btn
                                button.am-btn.am-btn-default(type="button") 搜索
              
                div.am-g
                    div.am-u-sm-12
                        form.am-form
                            table.am-table.am-table-striped.am-table-hover.table-main
                                thead
                                    tr
                                        th.table-check
                                            input(type="checkbox")
                                        th.table-id ID
                                        th.table-name 课程名
                                        th.table-teacher 教师 
                                        th.table-total.am-hide-sm-only 总选课人数
                                        th.table-duration.am-hide-sm-only 教学周期
                                        th.table-class-hours 总学时
                                        th.table-set 操作
                                tbody
                                    each item in classes
                                        tr(class="item-id-#{item._id}")

                                            td 
                                                input(type="checkbox")
                                            td #{item.courseId}
                                            td 
                                                a(href="#") #{item.courseName}
                                            if teacher._id = item.tid
                                                td #{teacher.name}
                                            td.am-hide-sm-only #{item.total}
                                            td.am-hide-sm-only #{item.duration}
                                            td #{item.classHours}
                                            td 
                                                div.am-btn-toolbar
                                                    div.am-btn-group.am-btn-group-xs
                                                        a(href="/admin/class/#{item._id}").edit.am-btn.am-btn-primary.am-btn-xs
                                                            span.am-icon-paper-plane 上课
                                                        a(href="/admin/class/update/#{item._id}").edit.am-btn.am-btn-warning.am-btn-xs
                                                            span.am-icon-pencil-square-o 编辑
                                                        span.del-class.am-btn.am-btn-danger.am-btn-xs.am-icon-trash-o(data-id="#{item._id}") 删除
                                                        a(href="/admin/class/import/#{item._id}").import.am-btn.am-btn-success.am-btn-xs
                                                            span.am-icon-user-plus 导入学生
                            
        else
            span 请先登录
    script(src="/js/lib/require.js" data-main="/js/app/admin_class")    
        