extends ../admin_layout

block content
    include ../includes/admin_sidebar

     //- content start 
    div.admin-content
        if teacher
            div.admin-content-body
                div.am-cf.am-padding.am-padding-bottom-0
                    div.am-fl.am-cf
                        strong.am-text-primary.am-text-lg 学生列表
                hr

                div.am-g
                    div.am-u-sm-12.am-u-md-6
                        div.am-btn-toolbar
                            div.am-btn-group.am-btn-group-xs
                                button(type="button").am-btn.am-btn-defaultspan.am-icon-plus 新增
                                button(type="button").am-btn.am-btn-defaultspan.am-icon-save 批量导入
                
                    div.am-u-sm-12.am-u-md-3
                        div.am-input-group.am-input-group-sm
                            input(type="text").am-form-field
                            span.am-input-group-btn
                                button.am-btn.am-btn-default(type="button") 搜索
              
                div.am-g
                    div.am-u-sm-12
                        form.am-form
                            table.am-table.am-table-striped.am-table-hover.table-main
                                thead
                                    tr
                                        th.table-check
                                            input(type="checkbox")
                                        th.table-name 姓名
                                        th.table-phone 电话 
                                        th.table-tclass 行政班级
                                        th.table-sex 性别
                                        th.table-create-time 加入时间
                                        th.table-set 操作
                                tbody
                                    each item in users
                                        tr(class="item-id-#{item._id}")

                                            td 
                                                input(type="checkbox")
                                            td #{item.nickname}
                                            td #{item.phone}
                                            td #{item.xzclass}
                                            case item.sex  
                                                when 0: td 未知
                                                when 1: td 男
                                                when 2: td 女 

                                            td.am-hide-sm-only #{item.meta.createAt}
                                            td 
                                                div.am-btn-toolbar
                                                    div.am-btn-group.am-btn-group-xs
                                                        a(href="/admin/stu/update/#{item._id}").edit.am-btn.am-btn-default.am-btn-xs.am-text-secondary
                                                            span.am-icon-pencil-square-o 编辑
                                                        button.del.am-btn.am-btn-default.am-btn-xs.am-text-danger(data-id="#{item._id}")
                                                            span.am-icon-trash-o 删除
                            
    script(src="/js/app/admin_stu.js")    
        