extends ../admin_layout

block content
    include ../includes/admin_sidebar

     //- content start 
    div.admin-content
        div.admin-content-body
            div.am-cf.am-padding.am-padding-bottom-0
                div.am-fl.am-cf
                    strong.am-text-primary.am-text-lg 学生列表
            hr

            div.am-g
                div.am-u-sm-12.am-u-md-6
                    div.am-btn-toolbar
                        div.am-btn-group.am-btn-group-xs
                            button(type="button").am-btn.am-btn-defaultspan.am-icon-plus 新增
                            button(type="button").am-btn.am-btn-defaultspan.am-icon-save 保存
                            button(type="button").am-btn.am-btn-defaultspan.am-icon-archive 审核
                            button(type="button").am-btn.am-btn-defaultspan.am-icon-trash-o 删除
            
                //- div.am-u-sm-12.am-u-md-3
                //-     div.am-form-group
                //-         select(data-am-selected="{btnSize: 'sm'}")
                //-             option(value="option1")所有类别
                //-             option(value="option2")IT业界
                //-             option(value="option3")数码产品
                //-             option(value="option3")笔记本电脑
                //-             option(value="option3")平板电脑
                //-             option(value="option3")只能手机
                //-             option(value="option3")超极本
            
                div.am-u-sm-12.am-u-md-3
                    div.am-input-group.am-input-group-sm
                        input(type="text").am-form-field
                        span.am-input-group-btn
                            button.am-btn.am-btn-default(type="button") 搜索
          
            div.am-g
                div.am-u-sm-12
                    form.am-form
                        table.am-table.am-table-striped.am-table-hover.table-main
                            thead
                                tr
                                    th.table-check
                                        input(type="checkbox")
                                    th.table-id openID
                                    th.table-name 姓名
                                    th.table-phone 电话 
                                    th.table-tclass.am-hide-sm-only 教学班级
                                    th.table-sex.am-hide-sm-only 性别
                                    th.table-province.am-hide-sm-only 省份
                                    th.table-city.am-hide-sm-only 城市
                                    th.table-headimg.am-hide-sm-only 头像
                                    th.table-create-time.am-hide-sm-only 加入时间
                                    th.table-set 操作
                            tbody
                                each item in users
                                    tr(class="item-id-#{item._id}")

                                        td 
                                            input(type="checkbox")
                                        td #{item.openid}
                                        td #{item.nickname}
                                        td #{item.phone}
                                        td.am-hide-sm-only #{item.class}
                                        td.am-hide-sm-only #{item.sex}
                                        td.am-hide-sm-only #{item.province}
                                        td.am-hide-sm-only #{item.city}
                                        td.am-hide-sm-only 
                                            img(src="#{item.headimgurl}").avatar
                                        td.am-hide-sm-only #{item.meta.createAt}
                                        td 
                                            div.am-btn-toolbar
                                                div.am-btn-group.am-btn-group-xs
                                                    a(href="/admin/user/update/#{item._id}")
                                                        button.edit.am-btn.am-btn-default.am-btn-xs.am-text-secondary
                                                            span.am-icon-pencil-square-o 编辑
                                                    button.del.am-btn.am-btn-default.am-btn-xs.am-text-danger.am-hide-sm-only(data-id="#{item._id}")
                                                        span.am-icon-trash-o 删除
                        
                        div.am-cf 共 1 个教学班
    script(src="/js/app/admin_stu.js")    
        