extends ../layout

block content
    div.container 
        div.weui_cells_title 暂无答案解析   
        //- div.weui_cells_title 题目:#{question.attributes.title}
        //- input#qid(type="hidden" value="#{question.attributes.qid}")
        //- input#qObjectId(type="hidden" value="#{question.id}")
        //- input#qTitle(type="hidden" value="#{question.attributes.title}")
        //- input#qType(type="hidden" value="#{question.attributes.type}")