extends ../layout

block content
    
    div.container
        include ../includes/msg_modal
        if user
            form#formSelfInfo
                if user._id
                    input(type="hidden",name="_id",value="#{user._id}")
                div.weui_cells_title 个人信息
                div.weui_cells
                    if user.headimgurl
                        div.weui_cell
                            div.weui_cell_bd.weui_cell_primary
                                p 头像                   
                            div.weui_cell_ft 
                                img.headimg(src="#{user.headimgurl}",alt="用户头像")
                    if user.nickname
                        div.weui_cell
                            div.weui_cell_bd.weui_cell_primary
                                p 昵称                    
                            div.weui_cell_ft #{user.nickname}
                    if user.name
                        div.weui_cell
                            div.weui_cell_bd.weui_cell_primary
                                p 姓名                    
                            div.weui_cell_ft #{user.name}

                    div.weui_cell.weui_cell_select.weui_select_after
                        div.weui_cell_hd.weui_cell_primary
                            p 性别                    
                        div.weui_cell_ft.weui_cell_bd
                            select#sex.weui_select(name="sex",value=user.sex)
                                case user.sex
                                    when 0
                                        option.tr(selected="" value="0") 未知
                                        option.tr(value="1") 男
                                        option.tr(value="2") 女
                                    when 1 
                                        option.tr(value="1" selected="selected") 男
                                        option.tr(value="2") 女
                                    when 2 
                                        option.tr(value="2" selected="selected") 女
                                        option.tr(value="1") 男
                                
                                
                    div.weui_cell
                        div.weui_cell_hd.weui_cell_primary
                            p 学号                    
                        div.weui_cell_ft
                            input#stuid.weui_input.stuid-input(type="number",name="stuid",value=user.stuid,pattern="[0-9*",placeholder="请输入学号")
                            
                    div.weui_cell
                            div.weui_cell_bd.weui_cell_primary
                                p 学校                    
                            div.weui_cell_ft #{user.school}

                    div.weui_cell.weui_cell_select.weui_select_after
                        div.weui_cell_hd.weui_cell_primary 
                            p 行政班级
                        div.weui_cell_ft.weui_cell_bd
                            select#class.weui_select(name="xzclass",value=user.xzclass)
                                if user.xzclass = unknown
                                    option.tr(value="unknown") 请选择
                                    option.tr(value="计科01班") 计科01班
                                    option.tr(value="计科02班") 计科02班
                                    option.tr(value="计科03班") 计科03班
                                    option.tr(value="计科04班") 计科04班
                                    option.tr(value="计科05班") 计科05班
                                    option.tr(value="计科06班") 计科06班 
                                else
                                    option.tr(value="计科01班") 计科01班
                                    option.tr(value="计科02班") 计科02班
                                    option.tr(value="计科03班") 计科03班
                                    option.tr(value="计科04班") 计科04班
                                    option.tr(value="计科05班") 计科05班
                                    option.tr(value="计科06班") 计科06班
                                
                
                div.weui_cells_title 地区
                div.weui_cells
                    div.weui_cell
                        div.weui_cell_bd.weui_cell_primary
                            p 省份                    
                        div.weui_cell_ft #{user.province}
                    div.weui_cell
                        div.weui_cell_bd.weui_cell_primary
                            p 城市                    
                        div.weui_cell_ft #{user.city}

                div.weui_cells_title 其他
                div.weui_cells
                    div.weui_cell
                        div.weui_cell_bd.weui_cell_primary 
                            p 身份
                        div.weui_cell_ft
                            case user.role
                                when 1
                                    p 学生
                                when 10 
                                    p 教师
                                when 100 
                                    p 超级管理员
                p.weui_cells_tips 提示：请尽快完善个人信息，否则你将只能使用部分功能

                a#btn_save.weui_btn.weui_btn_primary.btn_lg(href="javascript:") 保存

        //- else
        //-     span 你还没有登录
    script(src="/js/lib/require.js" data-main="/js/app/client")